<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div class="container">
    <h1 style="color: Grey; font-family: sans-serif; font-size: 15px; text-align:center">
        KS Company</h1>
    <hr>
    <br>

    <p style="color: Red; font-family: sans-serif; font-size: 50px; text-align:center">Welcome to Admin page</p>

    <hr>
    <br>

    <a th:href="@{/}">Back to login page</a>

</div>
</body>
</html>